* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
    background-color: #f5f5f5;
}

header {
    padding: 10px 0px 00px 20px;
    color: #424242;
    background-color: white;
    font-size: 16px;
    font-family: 'Helvetica';
}

#status {
    border-radius: 10px;
    white-space: nowrap;
    width: 10px;
    height: 10px;
    display: inline-block;
}

#status.online {
    background-color: #4CAF50;
}

#status.offline {
    background-color: #F44336;
}

#textarea_container {
    height: 100%;
    background: transparent;
    margin: 30px 70px 30px 70px;
    display: table-row;
    width: auto;
    -moz-box-shadow: 3px 13px 10px -10px #ccc; 
    -webkit-box-shadow: 3px 13px 10px -10px #ccc; 
    box-shadow: 7px 13px 10px -10px #ccc;
}

#textarea_container textarea {
    border: 0;
    color: #212121;
    font-size: 12px;
    padding: 10px 40px 0px 20px;
    width: 100%;
    height: 99.5%;
    box-sizing: border-box;
}

#textarea_container textarea:focus {
    outline: none;
}

#uuid {
    display: none;
}

#userid {
    display: none;
}

a {
    color: #0288D1;
    text-decoration: none;
}

a:hover, a:visited, a:focus {
    text-decoration: underline;
}
    
span.small {
    font-size: 16px;
}

