* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
}

header {
    // background-color: #a0ffc0;
}


#status.online {
    background-color: #00ff00;
}

#status.offline {
    background-color: #ff0000;
}

#textarea_container {
    display: table-row;
    width: 100%;
    height: 100%;
    background-color: #123456;
}

textarea {
    width: 100%;
    height: 99.5%;
    box-sizing: border-box;
}

#uuid {
    display: none;
}

#userid {
    display: none;
}

